.leaderboard{
	margin-top: 60px;
	background-color: white;
}

.control-group .control-label{
	text-align: left;
}

input[type="text"]{
	height: 25px !important;
}

.question_box{
	min-height: 300px;
	width: 700px;
	border: 1px #ccc solid;
	border-radius: 5px;
	overflow-x: hidden;
	overflow-y: scroll; 
	padding: 10px 10px 10px 10px;
	margin-bottom: 15px;
}

a{
	cursor: pointer !important;
}

.question_twiml{
	width: 100%;
}

.save{
	margin-right: 190px;
}

.remove{
	width: 25px;
	height: 25px;
	background: url('/images/delete.png') no-repeat;
	display: inline-block;
	background-size: 20px 20px;
	vertical-align: middle;
}

select{
	width: auto !important;
}

div.span7 input[type="text"]{
		width: 90% !important;
}

	div.span3{
		display: none !important;
	}

.entry{
	overflow: hidden;
	margin-bottom: 5px;
}

.hide{
	display: none;
}

.row-fluid{
	margin-top: 5px;
}

.key{
	margin-left: 25px;
}

.no-surveys{
	height: 100px;
	width: 100%;
	color: #666;
	font-size: 25px;
	text-align: center;
	border: 1px solid #666;
	border-radius: 5px;
	padding-top: 75px;
	background-color: rgb(247, 247, 247);
}

.navbar-inner{
	height: 62px;
	background-color: #5b5b5b;
	background-image: none;
}

.body-page{
	width: 72%;
	padding: 10px;
	background-color: white;
	margin-top: 55px;
	box-shadow: 0 5px 5px #888;
	min-height: 500px;
}

.logo{
	background: url('/images/freshsurveyLogo.png') no-repeat;
	width: 265px;
	height: 62px;
	display: inline-block;
	z-index: 2000;
}

.nav-collapse{
	display: inline-block;
	width: 65%;
	float: right;
}

ul.nav_here li a{
		height: 61% !important;
		font-size: 18px !important;
		font-weight: lighter;
		padding: 23px 20px 0 20px !important;
		border-right: 1px solid #ccc;
}

ul.nav_here li.active a{
	background-color: white !important;
}

.nav_here{
	float: right !important;
}

.form-horizontal{
	margin-left: 10px;
}

#survey_name{
	width: 75%;
}

.new_button{
	float: right;
}

h2{
	display: inline-block !important;
}
