<h2>Your Surveys</h2>

<table class="table table-striped">
	<tr><th>#</th><th>Survey Name</th><th>Type</th></tr>
	<% @surveys.each do |survey| %>
	<tr><td>survey.id</td><td>survey.name</td><td>Voice</td>
	<% end %>
</table>

	<% if @surveys.empty? %>
	<div class="no-surveys"> You do not have any surveys </div>
	<% end %>